<nav class="fixed-top navbar navbar-expand-lg shadow">
    <div class="container">
        <a class="logo" routerLink="/">COVID-<span class="txt-blue">19</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler"><i class="fa-solid fa-bars-staggered"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#protect">How to Protect?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#monitor">Monitor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Ask Doctor</a>
          </li>
        </ul>
        <div class="">
            <button class="btn btn-report px-4 me-2 btn-outline-info"><a routerLink="/report">Reports</a></button>

        </div>
      </div>
    </div>
  </nav>

<app-home></app-home>