<div class="container py-5">

  <div class="content w-50 text-center mx-auto">
    <h2 class="text-info fw-bolder">Our Services</h2>
    <p>Coronia is online medical services for prevent and get fast medical treatment from Corona Virus, we will
      help you at any time with our 24 hours services, this is Cornia services that you can get</p>
  </div>

  <div class="row my-5">
    <div class="col-lg-3 col-md-6">
      <div class="item py-4">
        <i class="fa-solid fa-file-invoice"></i>
        <h4 class="my-4">Get Actual Information.</h4>
        <p>We will provide you all information
          you need about how to stay
          healthy in this pandemic situation</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="item py-4">
        <i class="fa-solid fa-laptop-medical"></i>
        <h4 class="my-4">Online Consultation.</h4>
        <p>We will give you online consultation
          from our best Doctor with suitable
          symptoms</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="item py-4">
        <i class="fa-solid fa-kit-medical"></i>
        <h4 class="my-4">Self Swab Test.</h4>
        <p>You can get PCR test kit for
          Covid-19 to do self swab test at
          home Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="item py-4">
        <i class="fa-solid fa-truck-medical"></i>
        <h4 class="my-4">Medicine Delivery.</h4>
        <p>You can simply order medicine you
          needs after do the consultation
          and we will deliver it to you</p>
      </div>
    </div>

  </div>

  <div class="text-center">
    <button class="btn btn-lg btn-info text-light my-4">Learn more</button>
  </div>
</div>
