<div class="container py-5">

    <h2 class="text-center fw-bolder my-5 text-info">Take Steps to Protect Others</h2>
    <div class="row my-3">
        <div class="col-lg-3 col-md-6">
            <div class="item">
                <i class="fa-solid fa-house-chimney-user"></i>
                <h4 class="my-3">Stay Home if you are <br> sick.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum aperiam asperiores obcaecati iste, error nesciunt.</p>
                <h5>Learn more <i class="fa-solid fa-arrow-right-long"></i></h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="item">
                <i class="fa-solid fa-virus-covid"></i>
                <h4 class="my-3">Cover Caughts and <br> Sneezes.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum aperiam asperiores obcaecati iste, error nesciunt.</p>
                <h5>Learn more <i class="fa-solid fa-arrow-right-long"></i></h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="item">
                <i class="fa-solid fa-mask-face"></i>
                <h4 class="my-3">Wear a Facemask if you are sick.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum aperiam asperiores obcaecati iste, error nesciunt.</p>
                <h5>Learn more <i class="fa-solid fa-arrow-right-long"></i></h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="item">
                <i class="fa-solid fa-hand-sparkles"></i>
                <h4 class="my-3">Clean and disinfext Frequently</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum aperiam asperiores obcaecati iste, error nesciunt.</p>
                <h5>Learn more <i class="fa-solid fa-arrow-right-long"></i></h5>
            </div>
        </div>
    </div>
</div>
